/* gentral */
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color:blanchedalmond;
    display:flex;
    block-size:100vh;
}

h2{
   color:rgb(83, 83, 83);
}

ul{
    list-style:none;
}
/* classes */
.container{
    min-inline-size: 375px;
    inline-size:800px;
    max-inline-size: 900px;
    margin-inline:auto;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;

}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    block-size: 100px;
    background-color: rgb(216, 216, 216);
}

.inpt{
    display:flex;
    block-size: 30px;
 
}


/* id  */
/* input */
#new_position{
    border: 3px solid grey;
    border-inline-end: none;
    border-radius: 5px 0px 0px 5px;
}
/* button */
#add{
    border: 3px solid grey;
    border-inline-start:none;
    border-radius: 0px 5px 5px 0px;
    background-color: grey;
    padding-inline: 5px;
    color:white;
    
}


/* more specific selectors */
.lst li{
    padding-block: 8px;
    user-select:none;
    background: #f7f5f5;
    transition: 0.2s;
    position:relative;
    padding-inline-start:30px;
}

#new_position:focus{
    outline:none;
}

.lst li:nth-child(odd){
    background: #d8d6d6;
}

.lst li:hover{
    background: #f8d563;
}

.lst li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.lst li.checked::before{
    content: "\2713";
    color:rgb(118, 182, 23);
    font-size: 1.8em;
   margin-inline: 5px;
   margin-block:auto;

   /* properties below are needed to get around the fact that the pseudo elements inherit text-decoration form it's parent */
   position:absolute;
   top:0px;
   left:0px;
}